.dialogs {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.dialogsItems {
    padding: 10px;
    color: #fff;
}
.location{
    text-align: right;
}
.showMore{
    text-align: center;
}
.active {
    font-weight: bold;
}
.notselected {
    font-weight: 400;
}
.dialogsButtons {
    float: right;
    margin-top:10px;
    padding-top: 20px;
}
.dialogsButtonsReply{
    margin: 5px;
    background-color: #ddbef9;
}
.dialogsButtonsLike{
    margin: 5px;
    background-color: #ff9494;
    color: #fff;
}
.dialogsItems .active {
    color: gold;
    font-weight: bold;
}
.messages {
    padding: 10px;
}
.message img{
    width: 40px;
}
.button{
    padding: 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #1bd523;
    color: #fff;
}
.button:disabled {
    background-color: gray;
}

.messages .message{
    color: #fff;
}
.dialog img{
    width: 40px;
}
.name{
    font-weight: bold;
    font-size: ;
    padding-bottom: 5px;
    color: #008ffc;
}
.dialogue{
    padding: 20px;
    box-shadow: 0 0 10px #95a8b6;
    background-color: #f4f5f7;
    border-radius: 10px;
    margin: 5px;
    height: 80vh;
    overflow: auto;
}

.user{
    display: flex;
    margin-bottom: 20px;
    font-family: 'Noto Sans TC',sans-serif;
    align-items: flex-start;
}
.user .avatar{
    width: 60px;
    text-align: center;
    flex-shrink: 0;
}
.user .pic{
    border-radius: 50%;
    overflow: hidden;
}
.user .pic img{
    width: 100%;
    vertical-align: middle;
}
.user .txt{
    background-color: #aaa;
    padding: 16px;
    border-radius: 10px;
    position: relative;
}
.remote .txt{
    margin-left: 20px;
    margin-right: 80px;
    background-color: #fff;
    color:#a1b4c5;
}
.local .txt{
    margin-left: 80px;
    margin-right: 20px;
    order: -1;
    background-color: #3e92cc;
    color: #fff;

}
.local{
    justify-content: flex-end;
}
.remote .txt::before,
.local .txt::before{
    content: '';
    position: absolute;
    top: 9px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.remote .txt::before{
    border-right: 10px solid #fff;
    left: -10px;
}
.local .txt::before{
    border-left: 10px solid #3e92cc;
    right: -10px;
}