.onepost {
    background-color: rgb(133, 109, 121);
    padding: 30px 30px 10px 30px;
    margin: 10px 10px 10px 0 ;
    max-width: 700px;
    border: 1px solid #6c5959;
    box-shadow: rgba(60, 60, 75, 0.2) 10px 40px 29px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   
}
.onepost img {
    max-width: 50px;
}
.onepost span {
    text-align: right;
}
i {
    cursor:pointer;
    padding:10px 12px 8px;
    background:#fff;
    border-radius:50%;
    display:inline-block;
    margin:0 0 15px;
    color:#aaa;
    transition:.2s;
  }
  
  i:hover {
    color:#666;
  }
  
  i:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
  }
  
