.header {
    grid-area: header;
    padding: 10px;
    background-color: rgba(13, 230, 13, 0.377);
   }
.header img {
     width: 150px;
   }
.loginBlock{
  float: right;
  
}
.loginBlock a{
  color: #ff0707;
  font-weight: 600;
  
}