.formControl {

}
.error input,
.error textarea {
    border: solid red 2px;
}
.formControl.error span {
    color: red;
}
input::placeholder {
    color: gray;
}
.formSummaryError{
    border: 1px solid rgb(202, 73, 73)
}