.myPosts{
    color: #fff;
    margin-top: 50px;
    
}

.allPosts {
    margin-top: 50px;
    padding-bottom: 20px;
}

.newPost {
    margin-bottom: 50px;
}
.inputs {
    color: #666;
}
.errors {
    color: red;
}